:root{
    --accent-color:  #2196F3;
    --title-color: #212121;
    --background-color: #2F303A;
    --text-color: #757575; 
    --text-color-white: #FFFFFF;
    --bkg-color-light: #F5F4FA;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 400;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/*=========================HEADER=====================*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo-span {
    color: var(--accent-color);
}

.menu-link{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}


/*=========================/HEADER=====================*/
/*=========================CONTACTS=====================*/
.contact-mail,
.contact-phone-number{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.contact-mail:hover,
.contact-mail:focus,
.contact-phone-number:hover,
.contact-phone-number:focus{
    color: var(--accent-color);
}
.current{
    color: var(--accent-color);
}

/*=========================/CONTACTS=====================*/
/*=========================HERO==========================*/
.hero{
    background-color: var(--background-color);    
}
.main-titel{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-color-white); 
}
.order-btn{
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-weight: bold;
    color: var(--text-color-white);
    background-color: #188CE8;
}
.order-btn:hover,
.order-btn:focus {
    color: var(--text-color-white);
    cursor: pointer;
    background-color: var(--accent-color);
}
/*=========================/HERO==========================*/
/*========================BENEFITS========================*/
.benefit-title{
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.benefit-description{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
/*========================/BENEFITS========================*/
/*========================SERVICES========================*/
.serves-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);

}
/*========================/SERVICES========================*/
/*==========================TEAM===========================*/
.team-section{
    background-color: var(--bkg-color-light);
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.team-members{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;    
    letter-spacing: 0.03em;
    color: var(--title-color);    
}
.team-members-profesion{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/*==========================/TEAM===========================*/
/*===========================FOOTER==========================*/
.footer{ 
    background-color:  var(--background-color);
}
.logo-footer{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-footer-span{
    color: var(--text-color-white);
}
.address-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-white);
}
.address-contacts{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);    
}
.address-item:hover,
.address-item:focus,
.address-contacts:hover,
.address-contacts:focus{
    color: var(--accent-color);
}
/*===========================/FOOTER==========================*/

/*-------------------------------------------------------------*/

/*==========================PORTFOLIO===========================*/


.filters-btn{    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    background-color: var(--bkg-color-light);     
}
.filters-btn:focus,
.filters-btn:hover{
    color: var(--text-color-white);
    cursor: pointer;
    background-color: var(--accent-color);
}
.btn-blue{
    background-color: var(--accent-color);
    color: var(--text-color-white);
}
.portfolio-title{  
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}
.portfolio-description{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}